In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
%matplotlib inline
import torch
import torch.nn as nn
import torch.nn.functional as F
import torchvision
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from torch.utils.data import DataLoader, TensorDataset, random_split

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('insurance.csv')
df.head(), df.shape

(   age     sex     bmi  children smoker     region      charges
 0   19  female  27.900         0    yes  southwest  16884.92400
 1   18    male  33.770         1     no  southeast   1725.55230
 2   28    male  33.000         3     no  southeast   4449.46200
 3   33    male  22.705         0     no  northwest  21984.47061
 4   32    male  28.880         0     no  northwest   3866.85520,
 (1338, 7))

In [5]:
input_cols = list(df.drop('charges',axis=1).columns)
input_cols

['age', 'sex', 'bmi', 'children', 'smoker', 'region']

In [6]:
categorical_cols = list(df.select_dtypes(include='object').columns)
categorical_cols

['sex', 'smoker', 'region']

In [7]:
output_cols = [df.columns[-1]]
output_cols

['charges']

In [11]:
df.describe()

               age          bmi     children       charges
count  1337.000000  1337.000000  1337.000000   1337.000000
mean     39.222139    30.663452     1.095737  13279.121487
std      14.044333     6.100468     1.205571  12110.359656
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.290000     0.000000   4746.344000
50%      39.000000    30.400000     1.000000   9386.161300
75%      51.000000    34.700000     2.000000  16657.717450
max      64.000000    53.130000     5.000000  63770.428010

In [12]:
df.shape

(1337, 7)

In [13]:
df.drop_duplicates(inplace=True)
df.shape

(1337, 7)

In [14]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [16]:
dataframe1 = df.copy(deep=True)
# Convert non-numeric categorical columns to numbers
for col in categorical_cols:
    dataframe1[col] = dataframe1[col].astype('category').cat.codes
dataframe1.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [15]:
# Make a copy of the original dataframe
dataframe1 = df.copy(deep=True)
# Convert non-numeric categorical columns to numbers
for col in categorical_cols:
    dataframe1[col] = dataframe1[col].astype('category').cat.codes
# Extract input & outupts as numpy arrays
#inputs_array = np.array(dataframe1[input_cols])
inputs_array = dataframe1.drop('charges',axis=1).values
#targets_array = np.array(dataframe1[output_cols])
targets_array = dataframe1[['charges']].values
inputs_array, targets_array

(array([[19.  ,  0.  , 27.9 ,  0.  ,  1.  ,  3.  ],
        [18.  ,  1.  , 33.77,  1.  ,  0.  ,  2.  ],
        [28.  ,  1.  , 33.  ,  3.  ,  0.  ,  2.  ],
        ...,
        [18.  ,  0.  , 36.85,  0.  ,  0.  ,  2.  ],
        [21.  ,  0.  , 25.8 ,  0.  ,  0.  ,  3.  ],
        [61.  ,  0.  , 29.07,  0.  ,  1.  ,  1.  ]]),
 array([[16884.924 ],
        [ 1725.5523],
        [ 4449.462 ],
        ...,
        [ 1629.8335],
        [ 2007.945 ],
        [29141.3603]]))

In [16]:
inputs = torch.from_numpy(inputs_array).to(torch.float32)
targets = torch.from_numpy(targets_array).to(torch.float32)

In [17]:
inputs.dtype, targets.dtype

(torch.float32, torch.float32)

In [19]:
inputs,targets

(tensor([[19.0000,  0.0000, 27.9000,  0.0000,  1.0000,  3.0000],
         [18.0000,  1.0000, 33.7700,  1.0000,  0.0000,  2.0000],
         [28.0000,  1.0000, 33.0000,  3.0000,  0.0000,  2.0000],
         ...,
         [18.0000,  0.0000, 36.8500,  0.0000,  0.0000,  2.0000],
         [21.0000,  0.0000, 25.8000,  0.0000,  0.0000,  3.0000],
         [61.0000,  0.0000, 29.0700,  0.0000,  1.0000,  1.0000]]),
 tensor([[16884.9238],
         [ 1725.5522],
         [ 4449.4619],
         ...,
         [ 1629.8335],
         [ 2007.9449],
         [29141.3594]]))

In [20]:
dataset = TensorDataset(inputs, targets)

In [21]:
num_rows = len(df)
val_percent = 0.1 # between 0.1 and 0.2
val_size = int(num_rows * val_percent)
print(val_size)
train_size = num_rows - val_size
print(train_size)

train_ds, val_ds = random_split(dataset,[train_size, val_size]) # Use the random_split function to split dataset into 2 parts of the desired length

133
1204

In [22]:
batch_size = 64 # Try to experiment with different batch sizes

In [23]:
train_loader = DataLoader(train_ds, batch_size, shuffle=True)
val_loader = DataLoader(val_ds, batch_size)

In [24]:
for xb, yb in train_loader:
    print("inputs:", xb)
    print("targets:", yb)
    break

inputs: tensor([[18.0000,  0.0000, 36.8500,  0.0000,  0.0000,  2.0000],
        [55.0000,  0.0000, 33.5350,  2.0000,  0.0000,  1.0000],
        [24.0000,  1.0000, 29.3000,  0.0000,  0.0000,  3.0000],
        [61.0000,  1.0000, 35.8600,  0.0000,  1.0000,  2.0000],
        [35.0000,  1.0000, 27.1000,  1.0000,  0.0000,  3.0000],
        [64.0000,  0.0000, 31.8250,  2.0000,  0.0000,  0.0000],
        [40.0000,  0.0000, 28.6900,  3.0000,  0.0000,  1.0000],
        [19.0000,  1.0000, 36.9550,  0.0000,  1.0000,  1.0000],
        [39.0000,  1.0000, 29.9250,  1.0000,  1.0000,  0.0000],
        [36.0000,  1.0000, 33.4000,  2.0000,  1.0000,  3.0000],
        [50.0000,  1.0000, 26.4100,  0.0000,  0.0000,  1.0000],
        [27.0000,  1.0000, 18.9050,  3.0000,  0.0000,  0.0000],
        [56.0000,  0.0000, 35.8000,  1.0000,  0.0000,  3.0000],
        [37.0000,  0.0000, 47.6000,  2.0000,  1.0000,  3.0000],
        [36.0000,  0.0000, 29.0400,  4.0000,  0.0000,  2.0000],
        [19.0000,  0.0000, 21.7000,  0.0000,  1.0000,  3.0000],
        [52.0000,  1.0000, 38.6000,  2.0000,  0.0000,  3.0000],
        [24.0000,  1.0000, 23.4000,  0.0000,  0.0000,  3.0000],
        [60.0000,  0.0000, 24.0350,  0.0000,  0.0000,  1.0000],
        [46.0000,  0.0000, 33.7250,  1.0000,  0.0000,  0.0000],
        [60.0000,  1.0000, 28.5950,  0.0000,  0.0000,  0.0000],
        [19.0000,  1.0000, 27.6000,  0.0000,  0.0000,  3.0000],
        [46.0000,  0.0000, 27.7200,  1.0000,  0.0000,  2.0000],
        [27.0000,  1.0000, 31.1300,  1.0000,  1.0000,  2.0000],
        [23.0000,  1.0000, 41.9100,  0.0000,  0.0000,  2.0000],
        [59.0000,  1.0000, 29.7000,  2.0000,  0.0000,  2.0000],
        [23.0000,  0.0000, 42.7500,  1.0000,  1.0000,  0.0000],
        [18.0000,  1.0000, 41.1400,  0.0000,  0.0000,  2.0000],
        [19.0000,  0.0000, 32.9000,  0.0000,  0.0000,  3.0000],
        [31.0000,  1.0000, 29.8100,  0.0000,  1.0000,  2.0000],
        [58.0000,  1.0000, 34.8650,  0.0000,  0.0000,  0.0000],
        [28.0000,  1.0000, 30.8750,  0.0000,  0.0000,  1.0000],
        [47.0000,  1.0000, 25.4100,  1.0000,  1.0000,  2.0000],
        [24.0000,  0.0000, 20.5200,  0.0000,  1.0000,  0.0000],
        [28.0000,  1.0000, 22.5150,  2.0000,  0.0000,  0.0000],
        [29.0000,  0.0000, 25.6000,  4.0000,  0.0000,  3.0000],
        [44.0000,  1.0000, 38.0600,  1.0000,  0.0000,  2.0000],
        [18.0000,  0.0000, 39.8200,  0.0000,  0.0000,  2.0000],
        [30.0000,  1.0000, 28.6900,  3.0000,  1.0000,  1.0000],
        [46.0000,  1.0000, 33.3450,  1.0000,  0.0000,  0.0000],
        [59.0000,  1.0000, 29.8300,  3.0000,  1.0000,  0.0000],
        [38.0000,  1.0000, 19.3000,  0.0000,  1.0000,  3.0000],
        [54.0000,  0.0000, 21.4700,  3.0000,  0.0000,  1.0000],
        [43.0000,  1.0000, 38.0600,  2.0000,  1.0000,  2.0000],
        [18.0000,  0.0000, 25.0800,  0.0000,  0.0000,  0.0000],
        [29.0000,  1.0000, 38.9400,  1.0000,  0.0000,  2.0000],
        [38.0000,  0.0000, 19.4750,  2.0000,  0.0000,  1.0000],
        [19.0000,  0.0000, 30.0200,  0.0000,  1.0000,  1.0000],
        [21.0000,  1.0000, 36.8600,  0.0000,  0.0000,  1.0000],
        [18.0000,  0.0000, 28.2150,  0.0000,  0.0000,  0.0000],
        [59.0000,  1.0000, 27.5000,  1.0000,  0.0000,  3.0000],
        [40.0000,  1.0000, 41.6900,  0.0000,  0.0000,  2.0000],
        [62.0000,  0.0000, 38.0950,  2.0000,  0.0000,  0.0000],
        [34.0000,  1.0000, 25.3000,  2.0000,  1.0000,  2.0000],
        [54.0000,  1.0000, 31.6000,  0.0000,  0.0000,  3.0000],
        [28.0000,  1.0000, 38.0600,  0.0000,  0.0000,  2.0000],
        [43.0000,  1.0000, 20.1300,  2.0000,  1.0000,  2.0000],
        [48.0000,  0.0000, 32.3000,  2.0000,  0.0000,  0.0000],
        [49.0000,  1.0000, 30.9000,  0.0000,  1.0000,  3.0000],
        [33.0000,  0.0000, 18.5000,  1.0000,  0.0000,  3.0000],
        [39.0000,  0.0000, 26.3150,  2.0000,  0.0000,  1.0000],
        [20.0000,  1.0000, 35.3100,  1.0000,  0.0000,  2.0000],
        [19.0000,  1.0000, 27.8350,  0.0000,  0.0000,  1.0000],
        [26.0000,  1.0000, 32.4900,  1.0000,  0.0000,  0.0000]])
targets: tensor([[ 1629.8335],
        [12269.6885],
        [ 1977.8149],
        [46599.1094],
        [ 4746.3442],
        [16069.0850],
        [ 8059.6792],
        [36219.4062],
        [22462.0430],
        [38415.4727],
        [ 8827.2100],
        [ 4827.9048],
        [11674.1299],
        [46113.5117],
        [ 7243.8135],
        [13844.5059],
        [10325.2061],
        [ 1969.6140],
        [13012.2090],
        [ 8823.9854],
        [30259.9961],
        [ 1252.4070],
        [ 8232.6387],
        [34806.4688],
        [ 1837.2819],
        [12925.8857],
        [40904.1992],
        [ 1146.7966],
        [ 1748.7740],
        [19350.3691],
        [11944.5947],
        [ 3062.5083],
        [21978.6777],
        [14571.8906],
        [ 4428.8877],
        [ 5708.8672],
        [ 7152.6714],
        [ 1633.9618],
        [20745.9883],
        [ 8334.4580],
        [30184.9375],
        [15820.6992],
        [12475.3516],
        [42560.4297],
        [ 2196.4731],
        [ 3471.4097],
        [ 6933.2422],
        [33307.5508],
        [ 1917.3184],
        [ 2200.8308],
        [12333.8281],
        [ 5438.7490],
        [15230.3242],
        [18972.4941],
        [ 9850.4316],
        [ 2689.4954],
        [18767.7383],
        [10043.2490],
        [39727.6133],
        [ 4766.0220],
        [ 7201.7007],
        [27724.2891],
        [ 1635.7336],
        [ 3490.5491]])

In [25]:
input_size = len(input_cols)
print(input_size)
output_size = len(output_cols)
print(output_size)

6
1

In [26]:
class InsuranceModel(nn.Module):
    def __init__(self):
        super().__init__()
        self.linear = nn.Linear(input_size,output_size) 
        
    def forward(self, xb):
        out = self.linear(xb)                          
        return out
    
    def training_step(self, batch):
        inputs, targets = batch 
        # Generate predictions
        out = self(inputs)          
        # Calcuate loss
        loss = F.l1_loss(out, targets)                
        return loss
    
    def validation_step(self, batch):
        inputs, targets = batch
        # Generate predictions
        out = self(inputs)
        # Calculate loss
        loss = F.l1_loss(out, targets)                    
        return {'val_loss': loss.detach()}
        
    def validation_epoch_end(self, outputs):
        batch_losses = [x['val_loss'] for x in outputs]
        epoch_loss = torch.stack(batch_losses).mean()   # Combine losses
        return {'val_loss': epoch_loss.item()}
    
    def epoch_end(self, epoch, result, num_epochs):
        # Print result every 20th epoch
        if (epoch+1) % 500 == 0 or epoch == num_epochs-1:
            print("Epoch [{}], val_loss: {:.4f}".format(epoch+1, result['val_loss']))

In [27]:
model = InsuranceModel()

In [28]:
list(model.parameters())

[Parameter containing:
 tensor([[ 0.1104, -0.0406, -0.1647, -0.1804, -0.1211,  0.2453]],
        requires_grad=True),
 Parameter containing:
 tensor([0.3816], requires_grad=True)]

In [29]:
def evaluate(model, val_loader):
    outputs = [model.validation_step(batch) for batch in val_loader]
    return model.validation_epoch_end(outputs)

def fit(epochs, lr, model, train_loader, val_loader, opt_func=torch.optim.SGD):
    history = []
    optimizer = opt_func(model.parameters(), lr)
    for epoch in range(epochs):
        # Training Phase 
        for batch in train_loader:
            loss = model.training_step(batch)
            loss.backward()
            optimizer.step()
            optimizer.zero_grad()
        # Validation phase
        result = evaluate(model, val_loader)
        model.epoch_end(epoch, result, epochs)
        history.append(result)
    return history

In [30]:
result = evaluate(model, val_loader) # Use the the evaluate function
print(result)

{'val_loss': 12049.4697265625}

In [32]:
epochs = 30000
lr = 0.5
history1 = fit(epochs, lr, model, train_loader, val_loader)

Epoch [500], val_loss: 3433.4265
Epoch [1000], val_loss: 3421.3879
Epoch [1500], val_loss: 3390.2312
Epoch [2000], val_loss: 3378.3684
Epoch [2500], val_loss: 3368.7078
Epoch [3000], val_loss: 3355.9714
Epoch [3500], val_loss: 3363.7278
Epoch [4000], val_loss: 3346.5598
Epoch [4500], val_loss: 3331.7561
Epoch [5000], val_loss: 3312.8782
Epoch [5500], val_loss: 3309.0889
Epoch [6000], val_loss: 3295.0813
Epoch [6500], val_loss: 3301.7559
Epoch [7000], val_loss: 3276.8113
Epoch [7500], val_loss: 3293.6316
Epoch [8000], val_loss: 3264.7227
Epoch [8500], val_loss: 3255.9324
Epoch [9000], val_loss: 3242.3555
Epoch [9500], val_loss: 3268.4275
Epoch [10000], val_loss: 3228.5427
Epoch [10500], val_loss: 3236.7100
Epoch [11000], val_loss: 3207.9895
Epoch [11500], val_loss: 3200.1506
Epoch [12000], val_loss: 3190.5789
Epoch [12500], val_loss: 3183.2468
Epoch [13000], val_loss: 3176.3269
Epoch [13500], val_loss: 3169.8718
Epoch [14000], val_loss: 3193.7715
Epoch [14500], val_loss: 3149.6204
Epoch [15000], val_loss: 3150.1941
Epoch [15500], val_loss: 3146.8240
Epoch [16000], val_loss: 3138.4407
Epoch [16500], val_loss: 3121.4539
Epoch [17000], val_loss: 3113.2952
Epoch [17500], val_loss: 3106.8938
Epoch [18000], val_loss: 3132.6301
Epoch [18500], val_loss: 3111.9739
Epoch [19000], val_loss: 3096.7559
Epoch [19500], val_loss: 3078.6926
Epoch [20000], val_loss: 3082.1887
Epoch [20500], val_loss: 3072.1335
Epoch [21000], val_loss: 3058.3254
Epoch [21500], val_loss: 3059.9089
Epoch [22000], val_loss: 3042.6028
Epoch [22500], val_loss: 3039.2644
Epoch [23000], val_loss: 3035.4934
Epoch [23500], val_loss: 3026.6404
Epoch [24000], val_loss: 3017.6348
Epoch [24500], val_loss: 3007.6152
Epoch [25000], val_loss: 3015.3499
Epoch [25500], val_loss: 2992.5227
Epoch [26000], val_loss: 3012.0979
Epoch [26500], val_loss: 3005.2996
Epoch [27000], val_loss: 2980.1121
Epoch [27500], val_loss: 2968.5237
Epoch [28000], val_loss: 2960.6787
Epoch [28500], val_loss: 2954.1853
Epoch [29000], val_loss: 2943.7327
Epoch [29500], val_loss: 2937.9688
Epoch [30000], val_loss: 2930.6550

In [33]:
def predict_single(input, target, model):
    inputs = input.unsqueeze(0)
    predictions = model(inputs)               
    prediction = predictions[0].detach()
    print("Input:", input)
    print("Target:", target)
    print("Prediction:", prediction)

In [34]:
input, target = val_ds[0]
predict_single(input, target, model)

Input: tensor([29.0000,  1.0000, 37.2900,  2.0000,  0.0000,  2.0000])
Target: tensor([4058.1162])
Prediction: tensor([4599.4858])

In [40]:
my_array = np.fromiter([28,0,20.11,1,1,0],dtype=int)
mydata = torch.from_numpy(my_array).to(torch.float32)
model(mydata)

tensor([26522.2031], grad_fn=<AddBackward0>)